    <section id="header">

        <a href="#"><img src="{{ asset('img/home/Logo.png') }}" class="logo" al</a>


            <div>
                <ul id="navbar">
                    <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                    <li><a class="nav-link" href="{{ path('shop') }}">Shop</a></li>
                    <li><a class="nav-link" href="{{ path('blog') }}">Blog</a></li>
                    <li><a class="nav-link" href="{{ path('about') }}">About</a></li>
                    <li><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    <li><a class="nav-link" href="{{ path('register')}}">Sign In</a></li>
                    <li><a class="nav-link" href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                    <a href="" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>

                </i>
            </div>
    </section>