{% extends 'registration.html.twig' %}

{% block description %}Connect to your account in Blindr 2.0 {% endblock %}

{% block h1 %}Log in!{% endblock %}

{% block body %}
<div class="row">
    <form method="post">

        <div class="row text-center">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
    
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">disconnect</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class="row text-end mt-3">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <button class="btn btn-success" type="submit">Sign In</button>
            </div>
        </div>

    </form>
</div>

<div class="row text-center">
    <hr class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5 mb-3">
    <div class="col-12">
        <p>Still not connected ? <a href="{{ path('register') }}">Create One !</a></p>
    </div>
</div>

{% endblock %}
