{% extends 'baseAdmin.html.twig' %}

{% block title %}Products {% endblock %}

{% block body %}

<h1 class="pb-6">List of Products</h1>

<table class="table table-hover table-sm text-center align-middle">
    <thead>
        <tr>
            <th>N°</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products|reverse %}
            <tr>
                <td>{{ loop.revindex }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price|number_format(2, ',', ' ') }} €</td>
                <td><img src="{{ asset('img/products/f1.jpg') }}" alt =" image of product {{product.name}}"></td>
                <td>
                    <a href="#">edit</a>
                    <a href="#">del</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}