{% extends "baseAdmin.html.twig" %}

{% block title %}création produit{% endblock %}

{% block body %}


    {{ form_start(productForm) }}

        <div class="row">
            <div class="col-6">
             {{ form_row(productForm.name) }}  
        </div>
        <div class="col-3">
            {{ form_row(productForm.quantity, {
                'label': 'Quantity',
                'attr': {
                    placeholder: 'Ex: 5'
                } 
            }) }}
        </div>
        <div class="col-3">
            {{form_row(productForm.price, {
                'label' :'Price',
                'attr': {
            'placeholder' : 'Ex.: 150.50',
            'min' : 0
                }
            }) }}
        </div>
        
    {{ form_end(productForm) }}

{% endblock %}