{% extends "baseAdmin.html.twig" %}

{% block title %}création of a product{% endblock %}

{% block body %}


{{ form_start(productForm) }}

<div class="row">
    <div class="col-6">
        {#{ form_row(productForm.name) }#}
        {{form_label(productForm.name, 'Name')}}
        {{form_errors(productForm.name) }}
        {{form_widget(productForm.name, {
        'attr' :{
        'placeholder' : 'ex: Micael'
        }
        }) }}
        {{ form_help(productForm.name) }}
    </div>
    <div class="col-3">
        {{ form_row(productForm.quantity, {
        'label': 'Quantity',
        'attr': {
        placeholder: 'Ex: 3'
        }
        }) }}
    </div>
    <div class="col-3">
        {{form_row(productForm.price, {
        'label' :'Price (en €)',
        'attr': {
        'placeholder' : 'Ex.: 122.25',
        'min' : 0
        }
        }) }}
    </div>
<div class="col-6">
    {{ form_row(productForm.description, {
    'label': 'Description',
    'attr': {
    'placeholder': 'Ex.: Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita provident et quod. Vero
    aliquid praesentium earum eos, facilis doloremque tempora ab quidem incidunt ! Ea, dignissimos. Quas sed modi
    sapiente dolorem ?'
    }
    }) }}
</div>
</div>

<div class="col">
    {{ form_row(productForm.marque, {
    'label': 'Brand',
    'attr': {
    'placeholder': 'Ex.: Micael'
    }
    }) }}
</div>

<div class="col">
    {{ form_row(productForm.category, {
        'label': 'Catégorie',
        'attr':{
        'placeholder': 'Ex: sélectionner mike'
        }
    }) }}
</div>
</div>

<div class="col">
    {{ form_row(productForm.slug, {
    'label': 'Slug',
    'attr': {
    'placeholder': 'Ex.: NameofProduct'
    }
    }) }}
</div>

<div class="col">
    {{ form_row(productForm.img, {
    'label': 'Principal Image',
    'attr': {
    'placeholder': 'Ex.: image'
    }
    }) }}
</div>

<div class="col">
    {{ form_row(productForm.img2, {
    'label': 'Secondaire Image',
    'attr': {
    'placeholder': 'Ex.: image'
    }
    }) }}
</div>
<div class="col">
    {{ form_row(productForm.img3, {
    'label': 'img3',
    'attr': {
    'placeholder': 'Ex.: image'
    }
    }) }}
</div>

<div class="col">
    {{ form_row(productForm.img4, {
    'label': 'img4',
    'attr': {
    'placeholder': 'Ex.: image'
    }
    }) }}
</div>

<div class="col">
    {{ form_row(productForm.img5, {
    'label': 'img5',
    'attr': {
    'placeholder': 'Ex.: image'
    }
    }) }}
</div>

<div clas="col">
    {{form_row(productForm.created_at, {
        'label': 'creation',
        'attr': {
            'placeholder': 'Ex: When it was created the product'
        }
        })}}
</div>


<div class="row">
    <div class="col-12 text-end my-3">
        <a href="{{ path('admin_products')}}" class="btn btn-ouline-danger me-3">Annuler</a>
        <button class="btn btn-success">Créér</button>
    </div>
</div>

{{ form_end(productForm) }}

{% endblock %}